:root {
  --tp3-color-background: whitesmoke;
  --tp3-primary: #111111;
  --tp3-secondary: #cacaca;
  --tp3-sugerencias: rgb(34, 12, 161);
  --tp3-logo: #e60022;
  --tp3-transparent: rgba(245, 245, 245, 0.862);

  /*BORDER RADIUS*/
  --tp3-border-radius: 10px;

  /* FONTSIZE */
  --tp3-fontsize-xs: 5px;
  --tp3-fontsize-s: 10px;
  --tp3-fontsize-m: 15px;
  --tp3-fontsize-l: 20px;
  --tp3-fontsize-xi: 25px;

  /*SPACINGS*/
  --tp3-margin-xs: 5px;
  --tp3-margin-s: 10px;
  --tp3-margin-m: 20px;
  --tp3-margin-l: 30px;
  --tp3-margin-xl: 40px;

  --tp3-padding-xs: 5px;
  --tp3-padding-s: 10px;
  --tp3-padding-m: 20px;
  --tp3-padding-l: 30px;
  --tp3-padding-xl: 40px;

  --tp3-gap-xs: 5px;
  --tp3-gap-s: 10px;
  --tp3-gap-m: 20px;
  --tp3-gap-l: 30px;
  --tp3-gap-xl: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tp3-color-background);
  color: var(--tp3-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.dark {
  background-color: var(--tp3-primary);
  color: var(--tp3-color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: var(--tp3-primary);
  color: var(--tp3-color-background);
  padding: 1rem 1.4rem;
  border-radius: 2rem;
}

li {
  list-style-type: none;
}

h3 {
  color: var(--tp3-secondary);
  font-size: var(--tp3-fontsize-xi);
  background-color: var(--tp3-sugerencias);
  display: flex;
  padding: var(--tp3-padding-xl);
  border-radius: var(--tp3-border-radius);
  margin: var(--tp3-margin-xl);
}

p {
  color: var(--tp3-logo);
}
@media screen and (max-width: 590px) {
  body {
    width: 35vh;
  }
}
