header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 1.5rem;
}

header input {
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  flex-grow: 1;
  background-color: var(--secondary);
  border: none;
  font-size: 1rem;
}

header button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header button:hover {
  background-color: var(--secondary);
}

header img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
header .icon {
  filter: contrast(30%);
}

header .profileimg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
@media screen and (max-width: 590px) {
  .profileimg {
    display: none;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 400px) {
}
